<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Muse Writer{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='foundation.css') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='vendor/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/what-input.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/foundation.js') }}"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
</body>
</html>