{% extends "base.html" %}

{% macro make_nodes(nodes) %}
{% for node in nodes %}
<div class="document"
     data-id="{{ node.document.id }}"
     data-path="{{ node.document.path }}"
     data-sort="{{ node.document.sort }}">
    <div class="info doc-{{ node.document.type }}">
        <a class="name">{{ node.document.name }}</a>
    </div>
    {% if node.children|length > 0 %}
    {{ make_nodes(node.children) }}
    {% endif %}
</div>
{% endfor %}
{% endmacro %}

{% block body %}
<div class="grid-y medium-grid-frame">
    <div class="cell shrink header medium-cell-block-container">
        <h1>{{ project.name }}</h1>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-4">
                <div class="button-group tiny">
                    <a class="button tiny">
                        <i class="fas fa-folder"></i> Add Folder
                    </a>
                    <a class="button tiny">
                        <i class="fas fa-file"></i> Add Folder
                    </a>
                </div>
            </div>
            <div class="cell medium-8">
                Toolbar (Editor)
            </div>
        </div>
    </div>
    <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-4 medium-cell-block-y documents-tree">
                {{ make_nodes(project.documents_tree()) }}
            </div>
            <div class="cell medium-8 medium-cell-block-y">
                Editor
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='editor.js') }}"></script>
{% endblock %}