{% extends "base.html" %}

{% block body %}
<div class="grid-container-fluid">
    <div class="grid-y grid-padding-y grid-padding-x">
        <div class="cell shrink">
            <h1>New Project</h1>
        </div>
        <div class="cell">
            <form method="post">
                <label>
                    Name
                    <input type="text" name="name" value="{{ project.name }}" />
                </label>
                <label>
                    Summary
                    <textarea name="summary">{{ project.summary }}</textarea>
                </label>
                <button class="button" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}